# Copy this file to terraform.tfvars and fill in your own values.
# terraform.tfvars is gitignored - never commit real credentials.

proxmox_api_url   = "https://JTL-HME-PVE-01:8006/api2/json"
proxmox_api_token = "terraform@pve!tf-bootstrap=00000000-0000-0000-0000-000000000000"

talos_iso_file_id   = "local:iso/nocloud-amd64.iso"

proxmox_storage = "zfs-storage"
network_bridge  = "K8S"
